/* Slicebox Style */
.sb-slider {
    margin: 10px auto;
    position: relative;
    overflow: hidden;
    width: 100%;
    list-style-type: none;
    padding: 0;
}

.sb-slider li {
    margin: 0;
    padding: 0;
    display: none;
}

.sb-slider img {
    max-width: 100%;
    display: block;
    width: 600px;
}

.sb-perspective {
    position: relative;
}

.sb-perspective > div {
    position: absolute;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.sb-side {
    margin: 0;
    display: block;
    position: absolute;
    transform-style: preserve-3d;
}
