table, td {
    border: 1px solid whitesmoke;
    color: whitesmoke;
}
.box {
    width: 150px;
    height:150px;
    text-align: center;
    font-size: 5em;
    font-weight: bolder;
}
body {
    background-image: url(../IMG/tictac.jpeg);
    background-size: cover;
}
table {
    margin-left: auto;
    margin-right: auto;
}
h1 {
    color: red;
    background-color: #a8a8a8;
    opacity: 0.8;
    border-radius: 30px;
    text-align: center;
}
#message {
    color: #26dfe5;
    font-weight: bolder;
    font-size: 1.4em;
    text-align: center;
}
button {
    height: 40px;
    width:  110px;
    font-size: 1.01em;
    font-weight: bold;
    border-radius: 6px;
    text-align: center;
}
#wrapper {
    text-align: center;
}