table, td {
    border: 5px solid black;
    color: orangered;
}
.box {
    width: 120px;
    height:120px;
    text-align: center;
    font-size: 5em;
    font-weight: bolder;
}
body {
    background: url(../IMG/tictac.jpg) no-repeat fixed;
    background-size: cover;
}
table {
    margin-left: auto;
    margin-right: auto;
}
h1 {
    color: #ff0000;
    background-color: #000000;
    opacity: 0.8;
    border-radius: 30px;
    display: inline-block;
    padding: 20px;
    margin-bottom: 5px;
}
#message {
    color: #030303;
    font-weight: bolder;
    font-size: 1.4em;
    text-align: center;
    padding: 15px;
    display: inline-block;
    background: orangered;
    border-radius: 8px;
    margin-bottom: 5px;
}
button {
    height: 40px;
    width:  110px;
    font-size: 1.01em;
    font-weight: bold;
    border-radius: 6px;
    text-align: center;
    background: black;
    color: orangered;
}
#container {
    text-align: center;
    width: 100%;

}
#wrapper {
    text-align: center;
    width: 80%;

}